<%= render 'header' %>
<h1>About</h1>
<h5>
  <br>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
  <br>お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  <br>様々なバリエーションでご用意しております。</br>
  <br>また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
  <brぜひご注文ください></br>
</h5>