<header>
    <h3>管理者トップページ(商品一覧)</h3>
    <li><%= link_to "商品一覧", admin_path %></li>
    <li><%= link_to "会員一覧", admin_customers_path %></li>
    <li><%= link_to "注文履歴一覧", admin_items_path %></li>
    <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
</header>